body{
	background: lightgrey;
	font-family: Arial;
	max-width: 800px;
	margin: auto;
}


#title, .subtitle, .post_title{
	color: #505050;
}

#title{
	font-size: 20px;
	text-transform: uppercase;
}

a{
	/*text-decoration: line-through;*/
	color: $505050;
}

.post_title{

	font-size: 16px;
	font-style: italic;
	margin: 0;
	margin-bottom: 15px;
}
.post{
	background: #fff;
	padding: 15px;
	border: 3px solid #505050;
	margin: 3px;
	margin-bottom: 15px;
	border-radius: 5px 10px;
	text-align: justify;
}
.post_content{
	margin: 0;
	margin-bottom: 15px;
	text-transform: capitalize;

}

.post_image{
	margin-bottom: 15px;
	width: 400px;

}

.photo{
	border: 1px solid #505050;
	border-radius: 50%;
	width: 150px;
}

.contacts_list{
	list-style-type: none;
	padding-left: 15px;
}

.contacts_list li a{
	text-decoration: initial;
	color: blue;
}