body{
	background: #ccc;
}


#title, .subtitle, .post_title{
	color: blue;
}

.post_title{
	font-size: 16px;
	font-style: italic;
}
.post{
	background: #fff;
	padding: 20px;
	border: 2px solid #000;
}