.container-md{
    margin-top: 50px;
    width: 800px;
    text-align: justify;

}

.col-8{
    width: 800px;
    text-align: center;


}

img{
    align-self: center;
    margin-top: 10px;
    margin-left: 10px;
    max-width: 40%;
    height: 200px;
    border-style: groove;
}


.card{
    align-self: center;
    text-align: center;
}

.rede-social{
    max-width: 10%;
    min-width: 30px;
    max-height: 40px;
    border-radius: 100%;
    border-color: slategray;

}